[Unit]
Description=todoapp service

[Service]
WorkingDirectory=/tmp/app
ExecStart=/tmp/app/start.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target