[Unit]
Description=todoapp service

[Service]
WorkingDirectory=/home/azureuser/app
ExecStart=/home/azureuser/app/start.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target